DATABASE_URL=postgresql://smte_admin:yourpassword@db:5432/smte_bot_db

POSTGRES_USER=smte_admin
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=smte_bot_db

API_KEY=your-very-long-api-key
SECRET_KEY=your-super-secret-key-1234
SUPER_ADMIN_ID=1234567890

# ตั้งค่ารหัสลับของ JWT (สุ่มตัวอักษรมั่วๆ ยาวๆ มาใส่)
JWT_SECRET=super_secret_string_random_here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# เอามาจาก Discord Developer Portal
DISCORD_CLIENT_ID=1234567890123456789
DISCORD_CLIENT_SECRET=  botsecretkeyfromdeveloperportal_
DISCORD_REDIRECT_URI=https://yourdomain.abc/auth/callback

GOOGLE_CLIENT_ID="1234567890-xxxx.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-yyyyyy_zzzzzz"
GOOGLE_REDIRECT_URI="http://localhost:3000/auth/google/callback"

# REDIS_URL="redis://localhost:6379/0"